
app/Config/App.php
*.log
writable/session/ci_sessionvnh1nh152vl3jduqebosm76f35tuncj6
writable/session/ci_sessiongh83beqc23cnm1mts6q7lhdr9idtj7o1
writable/session/ci_session3g1g46pve4p3852oopgl133fgofpc3t2
